ul {
  width: 100vw;
  margin-bottom: 100px;
  margin-block-start: 0;
  padding: 0 50px;
  /* display: flex;
  justify-content: space-evenly; */
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.li {
  position: relative;
  /* width: 20vw; */
  height: 20vw;
  flex: 1 0 21%;
  margin: 15px 15px 45px 15px;
  border-radius: 20px;
  /* border: 0.5px solid var(--mainTextAndMarginColors); */

  cursor: pointer;
  box-shadow: 10px 9px 24px 0px rgba(0, 0, 0, 0.42);
}

.categoryBanner {
  margin-top: 10px;
  font-weight: 600;
}

.li:hover > .categoryBanner {
  color: var(--mainTextAndMarginColors)
}

.li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* .categoryBanner {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0px;
  padding: 8px 0;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;

  color: var(--mainBackgroudColor);
  background: rgba(105, 105, 105, 0.35);
  backdrop-filter: blur(21px);
} */

@media only screen and (max-width: 400px) {

  /* For mobile phones: */
  ul {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(2, 45vw);
    row-gap: 60px;
    column-gap: 20px;
    justify-content: center;
    padding: 0px;
    margin: 15px 15px 65px 15px;
  }

  .li {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  /* border: 0.5px solid var(--mainTextAndMarginColors); */

  cursor: pointer;
  }

  .li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}