.container {
  color: white;
  margin-top: 71px;
  width: 100vw;
  height: calc(100vh - 71px);
  display: flex;
}

.mainImage {
  width: 50vw;
  height: calc(100vh - 71px);

  object-fit: cover;
}

.productInfo {
  width: 50vw;
  height: calc(100vh - 71px);
  padding: 60px 4.5vw 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-direction: row;
}

.tags > * > h5{
  margin-right: 10px;
  padding: 4px 8px;
  border: 1px solid var(--mainTextAndMarginColors);
  border-radius: 4px;
  background-color: var(--secondBackgroudColor);
}

.productInfo h1 {
  margin-top: 10px;
}

h5,
h1 {
  width: fit-content;
}

p {
  text-align: initial;
  color: var(--mainTextAndMarginColors);
}

.price {
  font-size: 45px;
  color: var(--mainTextAndMarginColors);
  margin-bottom: 10px;
  margin-top: 0;
}

.gift {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.gift>p {
  margin: 0;
  margin-left: 10px;
}

.checkbox{
  -webkit-appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid var(--mainTextAndMarginColors);
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.checkbox:checked{
  background: var(--mainTextAndMarginColors);
  border: none;
}

.sizes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 35px;
}

.size {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: var(--mainTextAndMarginColors);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.unselectedSize {
  padding: 5px;
  border-radius: 2px;
  border: 2px solid var(--mainBackgroudColor);
}

.unselectedSize:hover {
  padding: 5px;
  border-radius: 2px;
  border: 2px solid var(--secondBackgroudColor);
  /* background-color: var(--secondBackgroudColor); */
}

.selectedSize {
  padding: 5px;
  border-radius: 2px;
  /* background-color: var(--secondBackgroudColor); */
  border: 2px solid var(--mainTextAndMarginColors);
}

.colors {
  display: flex;
  justify-content: space-between;
}

.color {
  height: 20px;
  width: 20px;
  border-radius: 2px;
}

.color:hover {
  cursor: pointer;
}

.unselectedColor:hover {
  padding: 5px;
  border-radius: 2px;
  border: 2px solid var(--secondBackgroudColor);
}

.unselectedColor {
  padding: 5px;
  border-radius: 2px;
  border: 2px solid var(--mainBackgroudColor);
}

.selectedColor {
  padding: 5px;
  border-radius: 2px;
  border: 2px solid var(--mainTextAndMarginColors);
}

.add {
  width: 100%;
  min-width: fit-content;
  height: 70px;
  font-size: 20px;
  color: var(--mainBackgroudColor);
  background-color: var(--mainTextAndMarginColors);
  border: 0.5px solid var(--mainTextAndMarginColors);
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.images {
  width: 100%;
  height: 23vh;

  max-width: 100%;
  max-height: 23vh;

  overflow-x: auto;
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: scroll;
}

.sideImage {
  width: 12vw;
  min-width: 170px;
  max-width: 12vw;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
}

.seeMore {
  margin: 200px auto 200px;
  text-align: initial;
}

@media only screen and (max-width: 400px) {

  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;

    margin-top: 61px;
    width: 100vw;
  }

  .mainImage {
    width: 100vw;
    height: calc(100vh - 61px);
  }

  .productInfo {
    width: 100vw;
  }

  .sideImage {
    min-width: 150px;
  }

  .seeMore {
    margin: 100px auto 100px;
    text-align: initial;
  }
}