.container {
  /* margin-top: 150px; */
  margin-top: 71px;
  min-height: calc(100vh - 71px);
  height: fit-content;
}

.shop_by {
  margin: 50px auto 50px 76px;
  text-align: initial;
}

.list {
  width: 100vw;
  min-height: calc(100vh - 225px);
  padding: 0;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,minmax(250px, 350px));
  grid-template-rows: repeat(auto-fill,minmax(550px, 550px));
  row-gap: 20px;
  column-gap: 20px;
}

/* .li {
  position: relative;
  width: 100%;
  height: 550px;
  padding: 15px;
  border: 0.5px solid var(--mainBackgroudColor);
  border-radius: 10px;

  cursor: pointer;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardHeaders {
  opacity: 0;
}

.li .price {
  opacity: 0;
}

.li img {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  object-fit: cover;
  z-index: 2;
}

.li:hover {
  border: 0.5px solid rgba(134, 134, 134, 0.5);
  color: var(--mainTextAndMarginColors);
  background-color: var(--secondBackgroudColor);
  border: 0.5px solid var(--mainTextAndMarginColors);
}

.li:hover > .cardHeaders{
  opacity: 1;
} */





.li {
  position: relative;
  width: 100%;
  height: 550px;
  border: 0.5px solid var(--mainBackgroudColor);
  border-radius: 10px;

  cursor: pointer;
  box-sizing: border-box;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.cardInfo {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  z-index: 1;
}

.li .cardInfo .price {
  opacity: 0;
}

.sss {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -15px;
}

.li img {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
  object-fit: cover;
  z-index: 2;

  position: absolute;
  top: 70px;
  left: 100px;

  margin-left: -100px;
}

.li:hover {
  border: 0.5px solid rgba(134, 134, 134, 0.5);
  color: var(--mainTextAndMarginColors);
  /* background-color: var(--secondBackgroudColor);
  border: 0.5px solid var(--mainTextAndMarginColors); */
}

.li:hover > .cardInfo {
  opacity: 1;
}




.emptySearch {
  position: relative;
  width: 100vw;
  height: calc(100vh - 223px) !important;
  /* border: 0.5px solid rgba(134, 134, 134, 0.5) !important; */

  cursor: pointer;
  /* margin-bottom: 50px; */
  box-sizing: border-box;
}

.emptySearch img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li:empty {
  height: 0;
  border: none;
}

*,
:before,
:after {
  box-sizing: border-box;
}

/* .li>div {
  color: rgba(134, 134, 134, 0.5)
} */

.suggestions {
  width: 100vw;
  height: fit-content;
  margin: 100px 0;
}

.suggestions > .shop_by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 80px;
}


@media only screen and (max-width: 1440px) {

  .shop_by {
    margin: 50px auto 50px 56px;
  }

  .list {
    grid-template-columns: repeat(auto-fill,minmax(250px, 350px));
    grid-template-rows: repeat(auto-fill,minmax(550px, 550px));
    row-gap: 0px;
    column-gap: 0px;
  }

  .list > a {
    position: relative;
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
  }

  .list > a > li {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 400px) {

  .shop_by {
    margin: 50px auto 50px 20px;
  }

  .list {
    grid-template-columns: repeat(auto-fill,minmax(250px, 350px));
    grid-template-rows: repeat(auto-fill,minmax(350px, 350px));
    row-gap: 80px;
    column-gap: 20px;
  }

  .list > a {
    position: relative;
    width: 100%;
    height: 350px;
  }

  .list > a > li {
    position: relative;
    width: 100%;
    height: 350px;
  }
}